.Rproj.user
!*/DataToIsocor/DataToIsocor.R
!*/DataToIsocor/Example.xlsx
!*/IsocorToPCA/IsocorToPCA.R
!*/IsocorToPCA/Example.txt
!*/IsocorToPCA/template.txt
!*/IsocorToPlot/Example2.tsv
!*/IsocorToPlot/IsocorToPlot.R
!*/IsocorToPlot/README.md
*
